<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="donTenedorPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>DTO.IncidenceComment</class>
    <class>DTO.IncidenceErrors</class>
    <class>DTO.Users</class>
    <class>DTO.Provincia</class>
    <class>DTO.Comments</class>
    <class>DTO.PhotoRestaurant</class>
    <class>DTO.Voting</class>
    <class>DTO.Restaurant</class>
    <class>DTO.Offers</class>
    <class>DTO.Reservations</class>
    <class>DTO.BannedUsers</class>
    <class>DTO.Poblacion</class>
    <class>DAO.Restaurant</class>
    <class>servlet.Provincia</class>
    <class>servlet.Users</class>
    <class>servlet.Comments</class>
    <class>servlet.Offers</class>
    <class>servlet.Reservations</class>
    <class>servlet.IncidenceErrors</class>
    <class>servlet.PhotoRestaurant</class>
    <class>servlet.BannedUsers</class>
    <class>servlet.IncidenceComment</class>
    <class>servlet.Restaurant</class>
    <class>servlet.Voting</class>
    <class>servlet.Poblacion</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/donTenedor?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
