<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>servlet.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarUsuario</servlet-name>
        <servlet-class>servlet.comprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tools</servlet-name>
        <servlet-class>servlet.tools</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>servlet.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>servlet.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resgisterUpdateRestaurant</servlet-name>
        <servlet-class>servlet.resgisterUpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurantSV</servlet-name>
        <servlet-class>servlet.restaurantSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchTown</servlet-name>
        <servlet-class>servlet.searchTown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkTown</servlet-name>
        <servlet-class>ajax.checkTown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFilePhoto</servlet-name>
        <servlet-class>servlet.uploadFilePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePhoto</servlet-name>
        <servlet-class>ajax.deletePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favoritePhoto</servlet-name>
        <servlet-class>ajax.favoritePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePositionRestaurant</servlet-name>
        <servlet-class>ajax.savePositionRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRestaurant</servlet-name>
        <servlet-class>servlet.searchRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initApplication</servlet-name>
        <servlet-class>servlet.initApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOneRestaurant</servlet-name>
        <servlet-class>servlet.getOneRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMapRestaurant</servlet-name>
        <servlet-class>servlet.oneRestaurant.getMapRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataRestaurant</servlet-name>
        <servlet-class>servlet.dataRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHoursRestaurant</servlet-name>
        <servlet-class>ajax.getHoursRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmail</servlet-name>
        <servlet-class>ajax.checkEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkSession</servlet-name>
        <servlet-class>core.checkSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeReserver</servlet-name>
        <servlet-class>servlet.makeReserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goEmail</servlet-name>
        <servlet-class>core.goEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSessionUser</servlet-name>
        <servlet-class>core.updateSessionUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelReservation</servlet-name>
        <servlet-class>servlet.cancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendVote</servlet-name>
        <servlet-class>ajax.sendVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusReservation</servlet-name>
        <servlet-class>ajax.updateStatusReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSessionRestaurant</servlet-name>
        <servlet-class>core.updateSessionRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendComment</servlet-name>
        <servlet-class>servlet.sendComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportComment</servlet-name>
        <servlet-class>ajax.reportComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkReportComment</servlet-name>
        <servlet-class>core.checkReportComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerOffert</servlet-name>
        <servlet-class>servlet.registerOffert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOffert</servlet-name>
        <servlet-class>ajax.deleteOffert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOffer</servlet-name>
        <servlet-class>ajax.checkOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendContact</servlet-name>
        <servlet-class>servlet.sendContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imprimirPdf</servlet-name>
        <servlet-class>servlet.imprimirPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>routeTapas</servlet-name>
        <servlet-class>ajax.routeTapas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarUsuario</servlet-name>
        <url-pattern>/comprobarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tools</servlet-name>
        <url-pattern>/tools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resgisterUpdateRestaurant</servlet-name>
        <url-pattern>/resgisterUpdateRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restaurantSV</servlet-name>
        <url-pattern>/restaurantSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchTown</servlet-name>
        <url-pattern>/searchTown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkTown</servlet-name>
        <url-pattern>/checkTown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFilePhoto</servlet-name>
        <url-pattern>/uploadFilePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePhoto</servlet-name>
        <url-pattern>/deletePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favoritePhoto</servlet-name>
        <url-pattern>/favoritePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePositionRestaurant</servlet-name>
        <url-pattern>/savePositionRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRestaurant</servlet-name>
        <url-pattern>/searchRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initApplication</servlet-name>
        <url-pattern>/initApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOneRestaurant</servlet-name>
        <url-pattern>/getOneRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMapRestaurant</servlet-name>
        <url-pattern>/getMapRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataRestaurant</servlet-name>
        <url-pattern>/views/oneRestaurant/dataRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHoursRestaurant</servlet-name>
        <url-pattern>/getHoursRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmail</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkSession</servlet-name>
        <url-pattern>/checkSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeReserver</servlet-name>
        <url-pattern>/makeReserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goEmail</servlet-name>
        <url-pattern>/goEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSessionUser</servlet-name>
        <url-pattern>/updateSessionUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelReservation</servlet-name>
        <url-pattern>/cancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendVote</servlet-name>
        <url-pattern>/sendVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusReservation</servlet-name>
        <url-pattern>/updateStatusReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSessionRestaurant</servlet-name>
        <url-pattern>/updateSessionRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendComment</servlet-name>
        <url-pattern>/sendComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportComment</servlet-name>
        <url-pattern>/reportComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkReportComment</servlet-name>
        <url-pattern>/checkReportComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerOffert</servlet-name>
        <url-pattern>/registerOffert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOffert</servlet-name>
        <url-pattern>/deleteOffert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOffer</servlet-name>
        <url-pattern>/checkOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendContact</servlet-name>
        <url-pattern>/sendContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imprimirPdf</servlet-name>
        <url-pattern>/imprimirPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeTapas</servlet-name>
        <url-pattern>/routeTapas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
