<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>servlet.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarUsuario</servlet-name>
        <servlet-class>servlet.comprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tools</servlet-name>
        <servlet-class>servlet.tools</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>servlet.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>servlet.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resgisterUpdateRestaurant</servlet-name>
        <servlet-class>servlet.resgisterUpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurantSV</servlet-name>
        <servlet-class>servlet.restaurantSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchTown</servlet-name>
        <servlet-class>servlet.searchTown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkTown</servlet-name>
        <servlet-class>ajax.checkTown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFilePhoto</servlet-name>
        <servlet-class>servlet.uploadFilePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePhoto</servlet-name>
        <servlet-class>ajax.deletePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favoritePhoto</servlet-name>
        <servlet-class>ajax.favoritePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePositionRestaurant</servlet-name>
        <servlet-class>ajax.savePositionRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRestaurant</servlet-name>
        <servlet-class>servlet.searchRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initApplication</servlet-name>
        <servlet-class>servlet.initApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarUsuario</servlet-name>
        <url-pattern>/comprobarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tools</servlet-name>
        <url-pattern>/tools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resgisterUpdateRestaurant</servlet-name>
        <url-pattern>/resgisterUpdateRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restaurantSV</servlet-name>
        <url-pattern>/restaurantSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchTown</servlet-name>
        <url-pattern>/searchTown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkTown</servlet-name>
        <url-pattern>/checkTown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFilePhoto</servlet-name>
        <url-pattern>/uploadFilePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePhoto</servlet-name>
        <url-pattern>/deletePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favoritePhoto</servlet-name>
        <url-pattern>/favoritePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePositionRestaurant</servlet-name>
        <url-pattern>/savePositionRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRestaurant</servlet-name>
        <url-pattern>/searchRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initApplication</servlet-name>
        <url-pattern>/initApplication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
