/* 
    Created on : 26-abr-2018, 20:38:56
    Author     : danieljimenez
*/

#aside-index{
    position: relative;
    margin-top:4em;
    width: 100%;
}

#tu_eliges{
    width: 100%;
}

#register-restaurant{
    width: 95%;
    margin: 0.5em;
}
