/* 
    Created on : 26-abr-2018, 17:45:38
    Author     : danieljimenez
*/
@media only screen and (min-width:800px){
    #content-form-search{
        background-color: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
    }

    #content-form-search img{
        width: 2em;
        vertical-align: middle;
        margin-right: 0.5em;
    }

    #form-search{
        display: inline-flex;
        width: 95%;
    }

    #form-search > div{
        text-align: center;
        padding: 1em 1em;

        width: 30%
    }

    #form-search input[type="text"]{
        font-size: 1.3em;
        width: 76%;
        padding: 0.35em 0em;
    }


    #form-search select{
        -webkit-appearance: button;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(../images/arrow-select.png), -webkit-linear-gradient(white, white 40%, white);
        background-size: 1em;
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #d8d8d8;
        color: #555;
        font-size: inherit;
        overflow: hidden;
        padding: 0.7em 0.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 76%;
    }

    #icon-search{
        width: 3em;
        height: 3em;
        margin-top: 1.1%;
        margin-left: 2em;
        border: 2px solid #FFF;
        padding: 0.5em 0.5em;
    }
}/*Estilo para navegador*/

@media only screen and (min-width:432px) and (max-width:800px){
    #content-form-search{
        background-color: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
    }

    #content-form-search img{
        width: 1.9em;
        vertical-align: middle;
        margin-right: 0.2em
    }

    #form-search{
        display: inline-flex;
        width: 96%;
    }

    #form-search > div{
        text-align: center;
        padding: 0.5em 0.5em;
        width: 75%;
    }

    #form-search input[type="text"]{
        font-size: 1.3em;
        width: 80%;
        padding: 0.3em 0em;
    }


    #form-search select{
        -webkit-appearance: button;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(white, white 40%, white);
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #d8d8d8;
        color: #555;
        font-size: inherit;
        overflow: hidden;
        padding: 0.7em 0.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }

    #icon-search{
        width: 2em;
        height: 2em;
        margin-top: 1.4%;
        margin-left: 1em;
        border: 2px solid #FFF;
        padding: 0.5em 0.5em;
    }

}/*Estilo para tablet*/

@media only screen and (max-width:432px){
    #content-form-search{
        background-color: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        width: 100%;
    }

    #content-form-search img{
        width: 2em;
        vertical-align: middle;
        margin-right: 0.2em;
    }

    #form-search{
        display: block;
        width: 100%;
    }

    #form-search > div{
        padding: 0.5em 0.5em;
        margin-left: 1em;
        width: 70%;
    }

    #form-search input[type="text"]{
        font-size: 1.3em;
        width: 79%;
        padding: 0.3em 0em;
    }


    #form-search select{
        -webkit-appearance: button;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(white, white 40%, white);
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #d8d8d8;
        color: #555;
        font-size: inherit;
        overflow: hidden;
        padding: 0.7em 0.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }

    #icon-search{
        position: absolute;
        width: 4em;
        height: 4em;
        margin-left: 2em;
        border: 2px solid #FFF;
        padding: 0.5em 0.5em;
        top: 0;
        right: 0;
        margin-top: 15%;
        margin-right: 2em;
    }

}/*Estilo para movil*/