/* 
    Created on : 26-abr-2018, 19:35:22
    Author     : danieljimenez
*/

#content-form-search{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

#content-form-search img{
    width: 1.5em;
    vertical-align: top;
    margin-right: 0.2em;
}

#form-search{
    display: inline-flex;
}

#form-search > div{
    text-align: center;
    padding: 0.5em 0.5em
}

#form-search input[type="text"]{
    font-size: 1.1em;
    width: 7em;
}

#form-search select{
    font-size: 1em;
    width: 9.4em;
    background: #FFF;
    padding: 0.2em 0em;
}

#icon-search{
    width: 2em;
    height: 2em;
    margin-top: 0.3em;
    margin-left: 2em;
    border: 2px solid #FFF;
    padding: 0.5em 0.5em;
}

