/* 
    Created on : 10-may-2018, 19:40:04
    Author     : danieljimenez
*/

@media only screen and (min-width:800px){
    hr{
        margin-top: 0.5em;  
    }
    #photo-restaurant #form-photo-restaurant{
        width: 80%;
        margin: auto;
    }

    #photo-restaurant h1{
        font-family: 'Spinnaker', sans-serif;
        font-size: 2vw;
        color: #c5c5c5;
        margin: 0;
        margin-left: 10%;
        margin-top: 1em;
        margin-bottom: 1.5em;
        border-bottom: 0.1em solid #c5c5c5;
        width: 80%;
    }

    #photo-restaurant #file{
        display: none;
    }

    #photo-restaurant #form-photo-restaurant > #buttonUpload {
        text-align: center;
        font-size: 1.25em;
        font-weight: 700;
        color: #2B7067;
        font-family: 'Spinnaker', sans-serif;
        display: inline-block;
        width: 29%;
        height: 10em;
        background-image: url("/donTenedor/images/icons/icon-upload-dark.png");
        background-repeat: no-repeat;
        background-size: 6em 6em;
        background-position: center center;

    }

    #photo-restaurant #form-photo-restaurant > #buttonUpload:hover {
        color: #629B93;
        background-color: #fbfbfb;
        background-image: url("/donTenedor/images/icons/icon-upload-light.png");
    }

    #photo-restaurant #form-photo-restaurant > #buttonUpload {
        cursor: pointer;
    }

    #filesUpload{
        display: inline-block;
        background: greenyellow;
        width: 55%;
        height: 12em;
        padding: 0.3em 0em;
        position: absolute;
    }
    #photo-restaurant #filesUpload #labelUpload{
        width: 100%;
        color: #2B7067;
        border-bottom: 3px solid #2B7067;
        display: block;
        font-family: 'Spinnaker', sans-serif;
    }

    .boton-aceptar{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }

    #paper{
        width: 1.5em;
        vertical-align: middle;
        margin-left: 0.5em;
    }

    .containerFile{
        margin: 0.3em 1em;
        border-bottom: 1px solid grey;
        padding: 0.2em 0em;
        font-family: 'Spinnaker', sans-serif;
    }

    label[class="error"]{
        position: absolute;
        background: none;
        /* bottom: 0; */
        font-size: 0.8em;
        text-align: center;
        margin-top: 13em;
        width: 23%;
        color: red;
    }


}

@media only screen and (min-width:432px) and (max-width:800px){

}

@media only screen and (max-width:432px){

}

